<center><h1>Update</h1></center>


<div class ="row">
  <div class="col-md-4">
    <%= simple_form_for @pet, :html => { :multipart => true } do |f| %>

      <%= image_tag @pet.pet_img.url(:pet_show), class: "pet-show" %>
      <br>
      <%= f.select :category_id, @categories %>
      <%= f.file_field :pet_img %>
  </div>

  <div class="col-md-8">

    <h3><%= f.input :petname %><h3>
    <h4><%= f.input :breed %><h4>
    <h4><%= f.input :color %><h4>
    <h4><%= f.input :size %><h4>
    <h4><%= f.input :gender %><h4>
    <h4><%= f.input :age %><h4>
    <h4><%= f.input :lastseen %><h4>
    <h4><%= f.input :description %><h4>
    <h4><%= f.input :owner %><h4>
    <h4><%= f.input :phone %><h4>
    <Br>
    <h4><%= f.button :submit %><h4>
<% end %>
</div>
</div>
