<div class ="row">

<div class="col-md-4">
<%= image_tag @pet.pet_img.url(:pet_show), class: "pet-show" %>
</div>

	<div class="col-md-8">
<h2>Pet Name:<%= @pet.petname %></h2>
<h3>Breed: <%= @pet.breed %></h3>
<h3>Color: <%= @pet.color %></h3>
<h3>Size: <%= @pet.size %></h3>
<h3>Gender: <%= @pet.gender %></h3>
<h3>Age: <%= @pet.age %></h3>
<h3>LastSeen: <%= @pet.lastseen %></h3>
<h3>Description: <%= @pet.description %></h3>
<h3>Name: <%= @pet.owner %></h3>
<h3>Phone: <%= @pet.phone %></h3>
	</div>





<div class ="row">

<div class="col-md-4">
<!-- where the review and rating wil go  -->
</div>
</div>

<center>
<%= link_to "Back", root_path %>

<% if user_signed_in? %>

<% if @pet.user_id == current_user.id %>

  <%= link_to "Edit", edit_pet_path(@pet) %>
  <%= link_to "Delete", pet_path(@pet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
<% end %>
<% end %>
</center>
